API_ID=29080362
API_HASH=2af932be312ce9c4e4ecb84bce09109e
BOT_TOKEN=8922163050:AAEhAgKEt3W5peLBhrT0inFEk1ONOat5YWU
LOGGER_ID=8547577506
MONGO_DB_URI=mongodb+srv://gack2340:gack2340@cluster0.jul3vhe.mongodb.net/?appName=Cluster0
OWNER_ID=8307140418
STRING_SESSION=BQCcYO4Abfn_UQVGsjYkZ-yRYU2ATr0gIECijeyLEv80ckE8IOWtK8pLIIN_rtE-oy6OaydAG2gKwIQeMEfdGDB4bGgO42TiSNPdo5vQ6AfLiOhERMDQX0J-sTflD9jjnNJyuhMow3zIJ6SApvdcDOKsDWwHqgDgY6qFHBCHI7Logaz_Fv8W1OsXuIyqKlz9BrRKxFWYPePDG6oZhT98HDgdpr5u1L4hQ7So88KFcuxnzUh7uZMniWRCNIBKSHKYMMIe3Z1Y6BCwuxdC8FAteWAV_-hB8zv04gU8QGpMJIq18qxiCpE_0fbdm6UZnqIXS_IPTl_4s96NYoCu-gxzMfXuYkM9jQAAAAH9ea6iAA

